.menuContainer {
  position: relative;
  display: inline-block;
}

.menuButton {
  background-color: #d4e1ff;
  color: #0a1f6a;
  border: 1px solid #0d2f9e;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.2s ease;
  width: 145px;
}

.menuButton:hover {
  background-color: #b8d0ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .menuList {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(10, 31, 106, 0.55) 0%,
    rgba(13, 47, 158, 0.55) 50%,
    rgba(25, 118, 210, 0.55) 100%
  );
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 6px 0;
  margin: 0;
  list-style: none;
  min-width: 180px;
  z-index: 1000;
} */

.menuList {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(10, 31, 106, 0.55) 0%,
    rgba(13, 47, 158, 0.55) 50%,
    rgba(25, 118, 210, 0.55) 100%
  );
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 6px 0;
  margin: 0;
  list-style: none;
  min-width: 180px;
  z-index: 1000;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition:
    transform 0.25s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.25s ease-in-out;
}

.menuList.open {
  opacity: 1;
  transform: scaleY(1);
}

.menuItem {
  margin: 0;
}

.menuLink {
  display: block;
  padding: 8px 16px;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

.menuLink:hover {
  /* background-color: #f0f0f0; */
  background-color: rgba(13, 47, 158, 0.65);
  color: #333;
}
