.container {
  max-width: 800px;
  margin: 32px auto;
  padding: 24px;
  background: #f4f7fc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.header h2 {
  margin: 0;
  font-size: 28px;
  color: #333;
}

.content {
  font-size: 18px;
  line-height: 26px;
  color: #444;
  white-space: pre-wrap;
}

.date {
  font-size: 14px;
  color: #888;
  text-align: right;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  color: #0d6efd;
  background-color: #e7f1ff;
  border: 1px solid #b6d4fe;
  border-radius: 12px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .backBtn {
  align-self: flex-start;
  padding: 6px 12px;
  font-size: 14px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  background-color: transparent;
} */

.backBtn {
  align-self: flex-start;
  padding: 6px 14px;
  font-size: 14px;
  color: #0a1f6a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #e7f1ff;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
  text-decoration: none;
}

.backBtn:hover {
  /*   background-color: rgba(13, 47, 158, 0.2);
  color: #1976d2; */
  background-color: #b8d0ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tagWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
