.container {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 125px;
  height: 100vh;

  /* background: linear-gradient(180deg, #0a1f6a 0%, #0d2f9e 60%, #1976d2 100%); */
  background: linear-gradient(
    180deg,
    rgba(10, 31, 106, 0.55) 0%,
    rgba(13, 47, 158, 0.55) 50%,
    rgba(25, 118, 210, 0.55) 100%
  );

  color: white;
  padding: 16px;

  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;

  transform: translateX(-100%);
  transition: transform 0.25s ease;
  z-index: 1;
}

.sidebarVisible {
  transform: translateX(0);
}

.notesWrapper {
  width: 100%;
}

/* .container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #ddd;

  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 0.25s ease;
  z-index: 200;
}

.sidebarHidden {
  transform: translateX(-100%);
}

.notesWrapper {
  width: 100%;
  margin-left: 250px;
  transition: margin-left 0.25s ease;
}

.notesWrapperExpanded {
  margin-left: 0;
} */
