/* components/Footer.module.css */

.footer {
  padding: 20px;
  /* background-color: #f0f0f0; */
  background: linear-gradient(90deg, #07164f 0%, #0a1f6a 40%, #0d2f9e 100%);
  text-align: center;
  font-size: 14px;
  /* color: #555; */
  color: white;
  border-top: 1px solid #ddd;
  z-index: 100;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
