/* components/Footer.module.css */

.footer {
  padding: 5px; /* background-color: #f0f0f0; */
  background: linear-gradient(90deg, #091a5e 0%, #102d99 40%, #1341d7 100%);
  text-align: center;
  font-size: 14px;
  color: white;
  border-top: 1px solid #ddd;
  z-index: 100;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
