/* components/Footer.module.css */

.footer {
  padding: 5px; /* background-color: #f0f0f0; */
  /* background: linear-gradient(90deg, #091a5e 0%, #102d99 40%, #1341d7 100%); */
  background: linear-gradient(
    90deg,
    rgba(9, 26, 94, 0.85) 0%,
    rgba(16, 45, 153, 0.85) 40%,
    rgba(19, 65, 215, 0.85) 100%
  );
  text-align: center;
  font-size: 14px;
  color: white;
  border-top: 1px solid #ddd;
  z-index: 100;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
