.menuList {
  list-style-type: none;
  margin: 0;
  padding: 90px 0;
  height: 73vh;
}

.menuItem {
  margin-bottom: 16px;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.menuLink:hover {
  background-color: rgba(13, 47, 158, 0.65);
  color: #ddd;
}
